JSON_RPC_URL=https://s.altnet.rippletest.net:51234/
SMS_URL="https://sms.nalosolutions.com/smsbackend/Nal_resl/send-message/"
SMS_AUTH_KEY="2v2ne(o!ot(ret_0tkz6rz1#z13x5@@uf7vc(lz5p!0qilxq6he37nu@_lu5h7qw"
SMS_SENDER_ID="RippleMO"